body {
  font-size: 24pt;
  font-family: "BYekan";
}
div {
  margin: 5px;
  margin-top: 25px;
}

.person {
  display: inline-block;
  padding: 20px 50px;
  border-radius: 20px;
  background-color: rgb(232, 218, 245);
  border: 1.5px solid rgb(219, 185, 251);
}
/* 
.btn {
    margin: 0 15px ;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.btn-blue {
    background-color: rgb(95, 235, 240);
}
.btn-blue:hover , .btn-blue:focus {
    box-shadow: 0 0 5px rgb(26, 224, 231);
}
.btn-green {
    background-color: rgb(95, 240, 107);
}
.btn-green:hover , .btn-green:focus {
    box-shadow: 0 0 5px rgb(50, 231, 26);
} */

.inpt {
  padding: 10px 30px;
  border-radius: 5px;
}
.inpt::placeholder {
  font-weight: 900;
}

.inpt-blue {
  background-color: rgb(205, 255, 248);
  border: 1px solid rgb(205, 255, 248);
  outline: none;
}
.inpt-blue:hover,
.inpt-blue:focus {
  border: 1px solid rgb(110, 228, 241);
  box-shadow: 0 0 5px rgb(95, 235, 240);
}
.inpt-green {
  background-color: rgb(209, 255, 205);
  border: 1px solid rgb(209, 255, 205);
  outline: none;
}
.inpt-green:hover,
.inpt-green:focus {
  border: 1px solid rgb(110, 241, 110);
  box-shadow: 0 0 5px rgb(95, 240, 95);
}
